<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Dawonload data</h1>

    <form action="{% url 'csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Export csv</button>
    </form><br><br>

    <form action="{% url 'pdf' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Export pdf</button>
    </form><br><br>

    <form action="{% url 'xlsx' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Export xlsx</button>
    </form><br><br>
</body>
</html>