<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Click the payment of 2000</h1>
    <form action="{% url 'payment' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <h2>Total amount : 2000</h2>
       <input type="number" name=amount value="2000" hidden>
        <button type="submit">Pay Now</button>
    </form>
     <form action="{% url 'paymenthandle' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          
     </form>    
</body>
</html>